body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #FAEBD7;
	font-size: 1.8em;
}

footer {
	background-color: #F0FFFF;
	font-size: 1.6em;
}


h1 {
	text-align: center;
	font-size: 2.5em;
	color: green; 
}

p
{
	padding: 1.25em;
  	color: blue;
}
img {
	width: 50%;
	max-width: 50%;
}

body {
		font-size: 100%;
	}
